.CardForm {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.FormSwitcher {
  width: 100%;
  max-width: 150px;
  height: 25px;

  margin: 5px 10px;
  text-indent: 5px;
  font-size: 14px;

  border-radius: 5px;
  border: solid 1px #d3d3d3;
  -webkit-transition: 0.3s; /* Safari */
  transition: 0.3s;
}
.FormSwitcher:hover {
  box-shadow: 0 0 5pt 0.5pt #d3d3d3;
}
.FormSwitcher:focus {
  box-shadow: 0 0 5pt 2pt #d3d3d3;
  outline-width: 0px;
}
