body {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.04em;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.btn {
  padding: 5px 10px;
  border: 2px solid rgb(27, 27, 27);
  text-transform: uppercase;
  background-color: white;
  box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 1);
}
